PROXMOX_HOST=
PROXMOX_WEB_UI=
HA_HOST=
HA_WEB_UI=
HA_ADDON_UI=
INFLUX_HOST=
INFLUX_WEB_UI=
GRAFANA_HOST=
GRAFANA_WEB_UI=
ROUTER_IP=
NAS_IP=
VPS_HOST=
WG_SERVER_IP=
WG_PC_IP=
WG_PHONE_IP=
WG_TABLET_IP=
N8N_HOST=
